*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  font-family: sans-serif;
  background-color: rgb(230, 230, 253);
}

/* Hard reset: everything inside body */
body * {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.2;
  list-style: none;
  text-decoration: none;
  color: inherit;
}



header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

@media only screen and (max-width: 720px) {
  header {
    height: 50px;
  }

  h1 {
    font-size: 1.5rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin: 60px auto 100px auto;
  width: 700px;
}

@media only screen and (max-width: 720px) {
  .content {
    width: 400px;
    gap: 40px;
    margin: 40px auto 50px auto;
  }
}


.post {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 700px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 10%);
}

@media only screen and (max-width: 720px) {
  .post {
    height: 400px;
  }
}

.post__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  margin: 0 2%;
}

.post__title {
  font-size: 1.1rem;
  font-weight: bold;
}

.post__counter {
  color: rgba(0, 0, 0, 0.25);
}

.post__media {
  width: 700px;
  height: 75%;
  text-align: right;
  overflow: hidden;
}

@media only screen and (max-width: 720px) {
  .post__media {
    width: 400px;
    height: 70%;
  }
}

.post__img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.post__img-credits1, .post__img-credits2 {
  position: absolute;
  bottom: 17%;
  right: 2%;
  font-size: .7rem;
  opacity: 0.1;
}

.post__img-credits2 {
  color: white;
  opacity: .3;
}

@media only screen and (max-width: 720px) {
  .post__img-credits1, .post__img-credits2 {
    bottom: 22%;
    font-size: .6rem;
  }
}


.post__footer {
  display: flex;
  align-items: center;
  height: 15%;
  margin: 0 2%;
}

@media only screen and (max-width: 720px) {
  .post__footer {
    height: 20%;
  }
}

.post__caption {
  font-size: .9rem;
  line-height: 1.2rem;
}

.hashtag {
  color: blue;
  font-weight: bold;
}