*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  font-family: sans-serif;
  background-color: rgb(230, 230, 253);
}

/* Hard reset: everything inside body */
body * {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.2;
  list-style: none;
  text-decoration: none;
  color: inherit;
}



header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

@media only screen and (max-width: 720px) {
  header {
    height: 50px;
  }

  h1 {
    font-size: 1.5rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin: 60px auto 100px auto;
  width: 700px;
}

@media only screen and (max-width: 720px) {
  .content {
    width: 400px;
    gap: 40px;
    margin: 40px auto 50px auto;
  }
}


.post {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 700px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 10%);
}

@media only screen and (max-width: 720px) {
  .post {
    height: 400px;
  }
}

.post__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  margin: 0 2%;
}

.post__title {
  font-size: 1.1rem;
  font-weight: bold;
}

.post__counter {
  color: rgba(0, 0, 0, 0.25);
}

.post__carousel {
  width: 700px;
  height: 75%;
  position: relative;
}



.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 70ms opacity ease-in-out;
  transition-delay: 70ms;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, .1);
  border-radius: 100%;
  border: none;
  cursor: pointer;
  padding: 2px;
}

.carousel-button.prev {
  left: 2%;
}

.carousel-button.next {
  right: 2%;
}

.style-two {
  color: rgba(0, 0, 0, .5);
}

@media only screen and (max-width: 720px) {
  .post__carousel {
    width: 400px;
    height: 260px;
  }

  .carousel-button > i {
    font-size: .8rem;
  }
}

.post__img-credits1,
.post__img-credits2 {
  position: absolute;
  bottom: 5%;
  z-index: 3;
  right: 2%;
  font-size: .7rem;
  opacity: .5;
  color: white;
}

.post__img-credits2 {
  color: black;
  opacity: .3;
}

@media only screen and (max-width: 720px) {
  .post__img-credits1, .post__img-credits2 {
    bottom: 5%;
    font-size: .6rem;
  }
}


.post__footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 15%;
  margin: 0 2%;
}

@media only screen and (max-width: 720px) {
  .post__footer {
    height: 25%;
    gap: 5px;
  }
}

.post__caption {
  font-size: .9rem;
  line-height: 1.2rem;
}

.hashtag {
  color: blue;
  font-weight: bold;
  cursor: pointer;
}


.post__likes {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 15px;
}


.likes-button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  
}

.fa-heart {
  font-size: 1.3rem;
}

.likes-counter, .likes-text {
  font-weight: bold;
}

@media only screen and (max-width: 720px) {
  .post__likes {
    margin-top: 12px;
    
  }
  .fa-heart {
    font-size: 1.1rem;
  }
  .likes-counter, .likes-text {
    font-size: .9rem;
  }

  .post__caption {
    line-height: 1.1rem;
  }
}